/* GRM */
.popup {
  width: 200px;
  background-color: rgb(127, 215, 224);
  position: absolute;
  top: 95px;
  right: 30px;
  border-radius: 5%;
  z-index: 30 !important;
}

ul,
li {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 10px !important;
}

.btn-assistenza {
  background-color: rgb(61, 62, 56);
  margin: 10px;
  color: white;
  border-radius: 8%;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}
.hide {
  display: none !important;
}

/* FEEDBACK WIDGET */
#feedbacklabelspan {
  display: none !important;
}
