body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(45deg, rgb(253, 96, 96), rgb(40, 174, 252));
  color: rgb(250, 250, 250);
  text-align: center;
  width: 100vw;
  height: 100vh !important;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.img {
  display: flex;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;

  align-items: center;
}

.img img {
  width: 100%;
  align-self: center;
}

/* web form zoho desk */
#advwebForm {
  background-color: transparent !important;
}

.previewPopFlex {
  background-color: transparent !important;
}

.zsfeedbkrpanel {
  background-color: transparent !important;
  border: none !important;
}

/* titolo */
.fbfpoptitle {
  text-align: center !important;
  color: white !important;
}

/* button */
#zsfeedbackwidgetdiv .dt-blue-btn {
  background: white !important;
  color: #697177 !important;
  border: none !important;
}
